/* Effective stylesheet produced by snapshot save */
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }
* { box-sizing: border-box; }
input, select, textarea, button { font: 13px/1.4 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; }
body { font: 13px/1.4 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
a { color: rgb(64, 120, 192); text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
hr::before, .rule::before { display: table; content: ""; }
hr::after, .rule::after { display: table; clear: both; content: ""; }
h1, h2, h3, h4, h5, h6 { margin-top: 0px; margin-bottom: 0px; line-height: 1.5; }
h1 { font-size: 30px; }
h3 { font-size: 16px; }
p { margin-top: 0px; margin-bottom: 10px; }
ul, ol { padding-left: 0px; margin-top: 0px; margin-bottom: 0px; }
pre { margin-top: 0px; margin-bottom: 0px; font: 12px Consolas,"Liberation Mono",Menlo,Courier,monospace; }
.container { width: 980px; margin-right: auto; margin-left: auto; }
.container::before { display: table; content: ""; }
.container::after { display: table; clear: both; content: ""; }
.columns::before { display: table; content: ""; }
.columns::after { display: table; clear: both; content: ""; }
.text-muted, .text-gray { color: rgb(118, 118, 118) ! important; }
.hidden, .d-none { display: none ! important; }
.clearfix::before { display: table; content: ""; }
.clearfix::after { display: table; clear: both; content: ""; }
.right, .float-right { float: right ! important; }
.left, .float-left { float: left ! important; }

label { font-size: 13px; font-weight: bold; }

.form-control, .form-select { min-height: 34px; padding: 7px 8px; font-size: 13px; color: rgb(51, 51, 51); vertical-align: middle; background-color: rgb(255, 255, 255); background-repeat: no-repeat; background-position: right 8px center; border: 1px solid rgb(221, 221, 221); border-radius: 3px; outline: medium none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset; }



.header { padding-top: 10px; padding-bottom: 10px; background-color: rgb(245, 245, 245); border-bottom: 1px solid rgb(229, 229, 229); }
.header-logo-invertocat { float: left; margin-right: 10px; margin-left: -2px; color: rgb(51, 51, 51); white-space: nowrap; }
.header-logo-invertocat .octicon-mark-github { float: left; font-size: 28px; }
.header-logo-invertocat:hover { color: rgb(64, 120, 192); text-decoration: none; }


.header-search { float: left; width: 360px; margin-right: 10px; }
.header-search-wrapper { display: table; width: 100%; max-width: 100%; min-height: 0px; padding: 0px; font-size: 12px; font-weight: normal; vertical-align: middle; }
.header-search-input { display: table-cell; width: 99%; min-height: 26px; padding-top: 0px; padding-bottom: 0px; background: transparent none repeat scroll 0% 0%; border: 0px none; box-shadow: none; }
.header-search-input:focus { border: 0px none; box-shadow: none; }
.header-search-scope { display: none; width: 1%; padding-right: 8px; padding-left: 8px; color: rgb(118, 118, 118); white-space: nowrap; vertical-align: middle; border-right: 1px solid rgb(238, 238, 238); border-top-left-radius: 2px; border-bottom-left-radius: 2px; }

.scoped-search .header-search-scope { display: table-cell; }